<h1 class="text-center text-5xl text-gray-800 py-16">BIENVENIDAS FAMILIAS</h1>

<p class="text-center text-gray-800 text-3xl font-semibold">REGISTRO DE PACIENTES CON A.M.E.</p>

<div class="text-center w-full my-16">
  
  <a href="/paciente" class="font-semibold bg-purple-500 text-xl text-white hover:bg-purple-700 px-8 py-4 text-center rounded-md 
  mx-auto">VER PACIENTES</a>

</div>